* {
    margin: 5;
    padding: 5;
}

h3 {
    text-align: center;
    margin: 20px;
}

#snake-game {
    margin: 19px auto border;
    display: absolute;
    display: flex;
    align-items: center;


}