*{
    margin: 5;
    padding: 5;
}
h3{
    text-align: center;
    margin: 20px;
}
marquee{
    padding: 24px 36px;
}

#snake-game{
    margin: 19px auto border;
    display: absolute;

}



